Zamba/zambawindows2013/Zamba2010/Zamba.WebWorkflow/App_WebReferences/ExcelReportService/ExcelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="setExcelGraphics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="graphtype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="save" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="bydate" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setExcelGraphicsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setExcelGraphicsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setExcelGraphics2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="graphtype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="save" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setExcelGraphics2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setExcelGraphics2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setExcelGraphics3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="graphtype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="save" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="bydate" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setExcelGraphics3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setExcelGraphics3Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTableDirectlyToExcel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pDatatable">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sArchivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTableDirectlyToExcelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DataTableDirectlyToExcelResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="setExcelGraphicsSoapIn">
    <wsdl:part name="parameters" element="tns:setExcelGraphics" />
  </wsdl:message>
  <wsdl:message name="setExcelGraphicsSoapOut">
    <wsdl:part name="parameters" element="tns:setExcelGraphicsResponse" />
  </wsdl:message>
  <wsdl:message name="setExcelGraphics2SoapIn">
    <wsdl:part name="parameters" element="tns:setExcelGraphics2" />
  </wsdl:message>
  <wsdl:message name="setExcelGraphics2SoapOut">
    <wsdl:part name="parameters" element="tns:setExcelGraphics2Response" />
  </wsdl:message>
  <wsdl:message name="setExcelGraphics3SoapIn">
    <wsdl:part name="parameters" element="tns:setExcelGraphics3" />
  </wsdl:message>
  <wsdl:message name="setExcelGraphics3SoapOut">
    <wsdl:part name="parameters" element="tns:setExcelGraphics3Response" />
  </wsdl:message>
  <wsdl:message name="DataTableDirectlyToExcelSoapIn">
    <wsdl:part name="parameters" element="tns:DataTableDirectlyToExcel" />
  </wsdl:message>
  <wsdl:message name="DataTableDirectlyToExcelSoapOut">
    <wsdl:part name="parameters" element="tns:DataTableDirectlyToExcelResponse" />
  </wsdl:message>
  <wsdl:portType name="ExcelServiceSoap">
    <wsdl:operation name="setExcelGraphics">
      <wsdl:input message="tns:setExcelGraphicsSoapIn" />
      <wsdl:output message="tns:setExcelGraphicsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setExcelGraphics2">
      <wsdl:input message="tns:setExcelGraphics2SoapIn" />
      <wsdl:output message="tns:setExcelGraphics2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setExcelGraphics3">
      <wsdl:input message="tns:setExcelGraphics3SoapIn" />
      <wsdl:output message="tns:setExcelGraphics3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataTableDirectlyToExcel">
      <wsdl:input message="tns:DataTableDirectlyToExcelSoapIn" />
      <wsdl:output message="tns:DataTableDirectlyToExcelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExcelServiceSoap" type="tns:ExcelServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setExcelGraphics">
      <soap:operation soapAction="http://tempuri.org/setExcelGraphics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setExcelGraphics2">
      <soap:operation soapAction="http://tempuri.org/setExcelGraphics2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setExcelGraphics3">
      <soap:operation soapAction="http://tempuri.org/setExcelGraphics3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataTableDirectlyToExcel">
      <soap:operation soapAction="http://tempuri.org/DataTableDirectlyToExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExcelServiceSoap12" type="tns:ExcelServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setExcelGraphics">
      <soap12:operation soapAction="http://tempuri.org/setExcelGraphics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setExcelGraphics2">
      <soap12:operation soapAction="http://tempuri.org/setExcelGraphics2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setExcelGraphics3">
      <soap12:operation soapAction="http://tempuri.org/setExcelGraphics3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataTableDirectlyToExcel">
      <soap12:operation soapAction="http://tempuri.org/DataTableDirectlyToExcel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExcelService">
    <wsdl:port name="ExcelServiceSoap" binding="tns:ExcelServiceSoap">
      <soap:address location="http://localhost:2903/ExcelService/ExcelService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExcelServiceSoap12" binding="tns:ExcelServiceSoap12">
      <soap12:address location="http://localhost:2903/ExcelService/ExcelService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>