Zamba/ZambaWeb2013/zamba2010/Zamba.WebActiveX/Web References/svcWordDocumentUploader/FileUploader.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadDataAndIndex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iFileSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="arrFileData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetURL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bOverwrite" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadDataAndIndexResponse">
        <s:complexType />
      </s:element>
      <s:element name="UploadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iFileSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="arrFileData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetURL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bOverwrite" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="UploadSoundFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iFileSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="arrFileData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetURL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bOverwrite" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadSoundFileResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadDataAndIndexSoapIn">
    <wsdl:part name="parameters" element="tns:UploadDataAndIndex" />
  </wsdl:message>
  <wsdl:message name="UploadDataAndIndexSoapOut">
    <wsdl:part name="parameters" element="tns:UploadDataAndIndexResponse" />
  </wsdl:message>
  <wsdl:message name="UploadDataSoapIn">
    <wsdl:part name="parameters" element="tns:UploadData" />
  </wsdl:message>
  <wsdl:message name="UploadDataSoapOut">
    <wsdl:part name="parameters" element="tns:UploadDataResponse" />
  </wsdl:message>
  <wsdl:message name="UploadSoundFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadSoundFile" />
  </wsdl:message>
  <wsdl:message name="UploadSoundFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadSoundFileResponse" />
  </wsdl:message>
  <wsdl:portType name="FileUploaderSoap">
    <wsdl:operation name="UploadDataAndIndex">
      <wsdl:input message="tns:UploadDataAndIndexSoapIn" />
      <wsdl:output message="tns:UploadDataAndIndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadData">
      <wsdl:input message="tns:UploadDataSoapIn" />
      <wsdl:output message="tns:UploadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadSoundFile">
      <wsdl:input message="tns:UploadSoundFileSoapIn" />
      <wsdl:output message="tns:UploadSoundFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileUploaderSoap" type="tns:FileUploaderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadDataAndIndex">
      <soap:operation soapAction="http://tempuri.org/UploadDataAndIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadData">
      <soap:operation soapAction="http://tempuri.org/UploadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSoundFile">
      <soap:operation soapAction="http://tempuri.org/UploadSoundFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileUploaderSoap12" type="tns:FileUploaderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadDataAndIndex">
      <soap12:operation soapAction="http://tempuri.org/UploadDataAndIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadData">
      <soap12:operation soapAction="http://tempuri.org/UploadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSoundFile">
      <soap12:operation soapAction="http://tempuri.org/UploadSoundFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileUploader">
    <wsdl:port name="FileUploaderSoap" binding="tns:FileUploaderSoap">
      <soap:address location="http://www.stardoc.com.ar/FileUploaderWebService/FileUploader.asmx" />
    </wsdl:port>
    <wsdl:port name="FileUploaderSoap12" binding="tns:FileUploaderSoap12">
      <soap12:address location="http://www.stardoc.com.ar/FileUploaderWebService/FileUploader.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>