Zamba/ZambaWeb2013/zamba2010/Zamba.AgentServerUnitTest/Service References/AgentServiceRef/AgentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AgentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.zambabpm.com.ar/Zamba.ControlPanel/WS/AgentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.zambabpm.com.ar/Zamba.ControlPanel/WS/AgentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.zambabpm.com.ar/Zamba.ControlPanel/WS/AgentService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://www.zambabpm.com.ar/Zamba.ControlPanel/WS/AgentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Zamba.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAgentService_SaveUCMDataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUCMDataSet" />
  </wsdl:message>
  <wsdl:message name="IAgentService_SaveUCMDataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUCMDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentService_SaveILMDataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveILMDataSet" />
  </wsdl:message>
  <wsdl:message name="IAgentService_SaveILMDataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveILMDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentService_SaveEnabledLicCount_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEnabledLicCount" />
  </wsdl:message>
  <wsdl:message name="IAgentService_SaveEnabledLicCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEnabledLicCountResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentService_SaveErrorReports_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveErrorReports" />
  </wsdl:message>
  <wsdl:message name="IAgentService_SaveErrorReports_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveErrorReportsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAgentService">
    <wsdl:operation name="SaveUCMDataSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentService/SaveUCMDataSet" message="tns:IAgentService_SaveUCMDataSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentService/SaveUCMDataSetResponse" message="tns:IAgentService_SaveUCMDataSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveILMDataSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentService/SaveILMDataSet" message="tns:IAgentService_SaveILMDataSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentService/SaveILMDataSetResponse" message="tns:IAgentService_SaveILMDataSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEnabledLicCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentService/SaveEnabledLicCount" message="tns:IAgentService_SaveEnabledLicCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentService/SaveEnabledLicCountResponse" message="tns:IAgentService_SaveEnabledLicCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveErrorReports">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentService/SaveErrorReports" message="tns:IAgentService_SaveErrorReports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentService/SaveErrorReportsResponse" message="tns:IAgentService_SaveErrorReports_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAgentService" type="tns:IAgentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveUCMDataSet">
      <soap:operation soapAction="http://tempuri.org/IAgentService/SaveUCMDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveILMDataSet">
      <soap:operation soapAction="http://tempuri.org/IAgentService/SaveILMDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEnabledLicCount">
      <soap:operation soapAction="http://tempuri.org/IAgentService/SaveEnabledLicCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveErrorReports">
      <soap:operation soapAction="http://tempuri.org/IAgentService/SaveErrorReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgentService">
    <wsdl:port name="BasicHttpBinding_IAgentService" binding="tns:BasicHttpBinding_IAgentService">
      <soap:address location="http://www.zambabpm.com.ar/Zamba.ControlPanel/WS/AgentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>