Zamba/ZambaWeb2013/zamba2010/Zamba.AgentServerUnitTest/Service References/AgentServiceRef/AgentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.zambabpm.com.ar/Zamba.ControlPanel/WS/AgentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Zamba.Core" />
  <xs:element name="SaveUCMDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UCMDS" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DsDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataBase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUCMDataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUCMDataSetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveILMDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ILMDS" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DsDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataBase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveILMDataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveILMDataSetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEnabledLicCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LicenseType" type="xs:int" />
        <xs:element minOccurs="0" name="Count" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEnabledLicCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEnabledLicCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveErrorReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Zamba.Core" minOccurs="0" name="reports" nillable="true" type="q1:ArrayOfErrorReport" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveErrorReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveErrorReportsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>