Zamba/zambawindows2013/Zamba2010/Zamba.AgentBusiness/Service References/AgentServiceReference/AgentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SaveUCMCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LicenceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Count" type="xs:long" />
        <xs:element minOccurs="0" name="CountDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUCMCountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUCMDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UCMDS" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DsDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataBase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUCMDataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUCMDataSetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveILMDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UCMDS" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DsDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataBase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveILMDataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveILMDataSetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>